{% extends "layout.html" %}

{% block content %}
<header>
    <div class="foto-principal">
                    
        <h2 class="titulo">frase</h2>
        
        <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iure at deleniti adipisci hic et, natus ut corrupti odit unde sequi voluptate exercitationem nobis. Culpa distinctio blanditiis repellat obcaecati vitae.
        </p>

        <a href="#" class="boton">contacto</a>
             
 </div>
</header>
   
{% endblock %}